<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <style>
        button.page-link {
	display: inline-block;
}
button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}
.offset{
  width: 500px !important;
  margin: 20px auto;  
}
    </style>
</head>

<body>
    <div id="app" class="col-sm-12">
        <div class="offset">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="p in displayedPosts">
                        <td>{{p.first}}</td>
                        <td>{{p.last}}</td>
                        <td>{{p.suffix}}</td </tr> </tbody> </table> <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous
                                </button>
                            </li>
                            <li class="page-item">
                                <button type="button" class="page-link"
                                    v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber">
                                    {{pageNumber}} </button>
                            </li>
                            <li class="page-item">
                                <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next
                                </button>
                            </li>
                        </ul>
                        </nav>
        </div>
    </div>

    <script>
        
    </script>
</body>

</html>