<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- <h1 v-text="new Date()"></h1> -->
        <!-- <h1>{{ message.split('').reverse().join('') }}</h1> -->
        <!-- {{ reversedMessage }} -->
        <h1>All Tasks</h1>
        <ul>
            <!-- <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li> -->
        </ul>

        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#root',
            data: {
                message: 'Hello World',
                tasks: [
                    { description: 'Go to the store', completed: true },
                    { description: 'Go to the store', completed: false },
                    { description: 'Go to the store', completed: false },
                    { description: 'Go to the store', completed: true },
                    { description: 'Go to the store', completed: true },
                ]
            },
            ////////////////////
            // computed: {
            //     reversedMessage(){
            //         return this.message.split('').reverse().join('');
            //     }
            // }
        });
    </script>
</body>

</html>